body {
    background-color: lightgrey;
}

.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 70%;
		margin: auto;
}

.carousel-caption > a {
	color: White;
}

.navbar-brand {
    float; left;
    min-height: 55 px;
    padding: 0 15px 5px;
}