body {
    background-color: lightgrey;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    max-height: 50px;
}

.navbar-good {
    background-color: #222;
    border-color: #080808;
    padding: 0px;
}

.card-deck>.card{
    min-width: 400px;
	max-width: 830px;
    margin-bottom: 10px;
}


.card-img-top {
    padding: 5px;
}

.card>.card-header{
	font-size:x-large;
	padding:.25rem .5rem;
}